.custom-bg {
  background-image: url('/plus-top-left.svg'), url('/plus-top-right.svg'),
    url('/plus-bottom-right.svg'), url('/plus-bottom-left.svg');
  background-position:
    32px 32px,
    calc(100% - 32px) 32px,
    calc(100% - 32px) calc(100% - 32px),
    32px calc(100% - 32px);
  background-repeat: no-repeat;
}
